<style>
#fb-members {
	float: right;
}

#fb-members .thumbnails img {
	float: left;
	margin: 0px 10px 15px 0px;
}
</style>

<div id="footer">
	<div class="row">
		<div class="col-xs-3 col-md-3 left">
			<div class="caption">
				<h4>About Us</h4>
				<p></p>
			</div>
		</div>

		<div class="col-xs-3 col-md-3">
			<div class="caption">
				<h4>iBabyWorld</h4>
				<ul>
					<li><a href="">iBaby</a></li>
					<li><a href="">Membership</a></li>
					<li><a href="">BB Shop</a></li>
					<li><a href="">Kid World</a></li>
					<li><a href="">Toys</a></li>
					<li><a href="">Blog</a></li>
					<li><a href="">Forum</a></li>
				</ul>
			</div>
		</div>

		<div id="fb-members" class="col-xs-4 col-md-4">
			<h4>Follow Us on Facebook</h4>
			<div class="fb-page" data-href="https://www.facebook.com/ibabyworld" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/ibabyworld"><a href="https://www.facebook.com/ibabyworld">IBabyWorld.com 愛寶網</a></blockquote></div></div>
		</div>
	</div>
</div>

<div id="footer-nav-wrapper">
	<div class="caption">
		Copyright &copy; 2015 iBabyWorld | All Rights Reserved
	</div>
</div>