<style>
	ul.top-menu {

	}

	ul.top-menu li {
		position: relative;
	}

	ul.top-menu li button {
		border: none;
		background-color: transparent;
	}

	ul.top-menu li button:hover {
		background-color: transparent;
	}

	ul.dropdown-menu {
		position: absolute;
		top: 26px; left: 35px;
		width: 80px;
		height: auto;
	}

	ul.dropdown-menu li {
		display: block;
		margin: 0px 0px 0px 0px;
		padding: 3px 10px 3px 10px;
		width: 100%;
		background-image: none;
		color: #555555;
		font-size: 0.9em;
		text-align: left;
		cursor: pointer;
	}

	ul.dropdown-menu li:hover {
		color: #333333;
	}
</style>
<div id="header" ng-controller="MainController">
	<div class="bg-img-cloud"></div>

	
	<div role="navigation" class="navbar navbar-default">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand logo" href="#/home"></a>
		</div>
		<div class="collapse navbar-collapse" id="menu-navbar">
			<ul class="nav navbar-nav navbar-right top-menu"> 
				<li ng-hide="isAuthorized"><a ui-sref="membership" class="signin" translate="login">Login</a></li>
				<li ng-hide="isAuthorized"><a ui-sref="register" class="signup" translate="register">Register</a></li>
				<li ng-show="isAuthorized"><a ng-click="doLogout()" class="signout" translate="logout">Logout</a></li>
				<li ng-show="isAuthorized"><span>|</span></li>
				<li ng-show="isAuthorized"><a ui-sref="member.edit_profile" class="user">Hello, {{loggedUser.first_name}}</a></li>
				<li>
					<a aria-expanded="true" class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" translate="language.english">{{locales[locale]}}</a>
					
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
						<li ng-click="doLanguage(key)" ng-repeat="(key, value) in locales">{{value}}</li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right main-menu">
				<li><a ui-sref="ibaby({ article: '' })" class="ibaby"></a></li>
				<li><a ui-sref="membership" class="membership"></a></li>
				<li><a ui-sref="bb_shop" class="bb-shop"></a></li>
				<li><a ui-sref="kidsworld" class="kid-world"></a></li>
				<li><a href="" class="toys"></a></li>
				<li class="clear"></li>
			</ul>
		</div>
		
	</div>

	<div class="banners" ng-show="$state.name === 'home'">
		<div class="bg-img-balloons"></div>
		<div class="bg-img-car"></div>
		<div class="bg-img-trees"></div>
		<ibaby-banner></ibaby-banner>
	</div>
</div>
