<div id="hot-news">
	<a class="nav-left"></a>
	<a class="nav-right"></a>

	<div class="row">
		<div class="col-xs-4 col-md-4">
			<div class="header star">
				<h3>News & Events</h3>
			</div>
			<div class="banner">
				<img src="{{news_article[0].image[0].image_url_medium}}" width="100%">
			</div>
			<div class="caption">
				<h3><a href="#/ibaby?article={{news_article[0].id}}">{{news_article[0].title}}</a></h3>
				<span>{{news_article[0].created_at | date: 'MMM dd, yyyy'}} | <!-- <a href="">51 Likes</a> | --> <a href="" ng-repeat="t in news_article[0].tags">{{t.name}}</a> | <a href="#/ibaby?article={{news_article[0].id}}">Read More ></a></span>
				<p>{{news_article[0].description}}...</p>
			</div>
		</div>

		<div class="col-xs-4 col-md-4">
			<div class="header rainbow">
				<h3>Promotion</h3>
			</div>
			<div class="banner">
				<img src="{{promotion_article[0].image[0].image_url_medium}}" style="display: block;max-width:333px;max-height:212px;width: auto;height: auto;vertical-align: middle;">
			</div>
			<div class="caption red">
				<h3><a href="#/ibaby?article={{promotion_article[0].id}}">{{promotion_article[0].title}}</a></h3>
				<span>{{promotion_article[0].created_at | date: 'MMM dd, yyyy'}} | <!-- <a href="">51 Likes</a> | --> <a href="" ng-repeat="t in promotion_article[0].tags">{{t.name}}</a> | <a href="#/ibaby?article={{promotion_article[0].id}}">Read More ></a></span>
				<p>{{promotion_article[0].description}}...</p>
			</div>
		</div>

		<div class="col-xs-4 col-md-4">
			<div class="header love-mom">
				<h3>Hot Picks</h3>
			</div>
			<div class="banner">
				<img src="{{hot_article[0].image[0].image_url_medium}}" style="display: block;max-width:333px;max-height:212px;width: auto;height: auto;vertical-align: middle;">
			</div>
			<div class="caption red">
				<h3><a href="#/ibaby?article={{hot_article[0].id}}">{{hot_article[0].title}}</a></h3>
				<span>{{hot_article[0].created_at | date: 'MMM dd, yyyy'}} | <!-- <a href="">51 Likes</a> | --> <a href="" ng-repeat="t in hot_article[0].tags">{{t.name}}</a> | <a href="#/ibaby?article={{hot_article[0].id}}">Read More ></a></span>
				<p>{{hot_article[0].description}}...</p>
			</div>
		</div>
	</div>
</div>

<div id="featured-products">
	<div class="bg-img-cat"></div>
	<div class="bg-img-abc"></div>

	<div class="header">
		<a href="#/products" class="more">Read More &gt;</a>
	</div>

	<div class="posts row">

		<div class="col-xs-3 col-md-3" ng-repeat="p in products">
			<!-- <span class="sale"></span> -->
			<div class="banner">
				<img ng-src="{{p.image[0].cover_url_medium}}" width="100%">
			</div>
			<div class="caption">
				<h3>{{p.name_en_US}}</h3>
				<p>{{p.short_description_en_US}}...</p>
				<a class="right btn btn-success" href="#/products?product_id={{p.id}}">More...</a>
				<div ng-show="p.discounted_price > 0"><span class="discount">${{p.unit_price}}  </span><span class="amount">$ {{p.discounted_price}}</span></div>
				<span class="amount" ng-show="p.discounted_price == null">$ {{p.unit_price}}</span>
				<!-- <a class="cmd like"></a>
				<a class="cmd add"></a> -->

			</div>
		</div>


		<!-- Coming Soon... -->
	</div>
</div>

<div id="featured-posts">
	<div class="header"></div>

	<div class="row">
		<div class="col-md-12">
			<div class="post" ng-repeat="m in mum_talks_article">
				<div class="banner">
					<img ng-src="{{m.image[0].image_url_medium}}" alt="" width="100%"/>
				</div>

				<div class="text-left">
					<h5 class="left text-uppercase"><a href="#/ibaby?article={{m.id}}">{{m.title}}</a></h5>
					<p class="posted">Posted on {{m.created_at | date: 'MMM dd, yyyy'}}
						<!-- By <a href="#/ibaby?article=?{{m.id}}">{{m.created_by}}</a> -->
						</p>

					<div class="clear"></div>
				</div>

				<div class="caption">
					<p>{{m.description}}</p>
				</div>
			</div>


		</div>

		<!-- <div class="col-md-4">
			<div id="tab-posts">
				<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
					<li><a href="#first" data-toggle="tab">First</a></li>
					<li class="active"><a href="#second" data-toggle="tab">Second</a></li>
				</ul>

    			<div class="tab-content">
        			<div class="tab-pane active" id="first"></div>

        			<div class="tab-pane active" id="second">
						<ul class="posts">
							<li>
								<div class="banner">
									<img src="<%= asset_path("dummy/post-thumb-002") %>" alt="..." width="56" class="img-rounded">
								</div>
								<div class="caption">
									<h4><a href="">Lorem ipsum dolor</a></h4>
									<span>April 7, 2015</span>
									<p>No comments</p>
								</div>
							</li>
							<li>
								<div class="banner">
									<img src="<%= asset_path("dummy/post-thumb-001") %>" alt="..." width="56" class="img-rounded">
								</div>
								<div class="caption">
									<h4><a href="">Lorem ipsum dolor</a></h4>
									<span>April 7, 2015</span>
									<p>No comments</p>
								</div>
							</li>
							<li>
								<div class="banner">
									<img src="<%= asset_path("dummy/post-thumb-001") %>" alt="..." width="56" class="img-rounded">
								</div>
								<div class="caption">
									<h4><a href="">Lorem ipsum dolor</a></h4>
									<span>April 7, 2015</span>
									<p>No comments</p>
								</div>
							</li>
						</ul>
						<div class="clear"></div >
        			</div>
   				 </div>
			</div>

			<img class="advertisement" src="<%= asset_path("poster-001.jpg") %>" alt="...">
		</div> -->
		<!-- Coming Soon... -->
	</div>
</div>
