<style>
.header img {
	position: absolute;
	left: -30px;
	bottom: -2px;
}

.header h4 {
	left: 105px;
	font-size: 1.8em;
}
</style>
<div id="membership" ng-hide="isAuthorized">
	<div class="login">
		<h2 class="header"></h2>
		<form name="loginForm" class="form-horizontal rounded-20">
			<div class="form-group ">
				<input type="email" class="form-control" ng-model="member.email" name="email" placeholder="Email address">
				<div ng-show="loginForm.$submitted || loginForm.email.$touched">
                	<span class="error red" ng-show="submitted && !success" translate="error_credentails_invalid">Invalid email or password. Please try again.</span>
            	</div>
			</div>

			<div class="form-group">
				<input type="password" class="form-control" name="password" ng-model="member.password" require="" placeholder="Password">
			</div>

			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="member.staysignedin"> <span translate="stay_signin">Stay signed in</span>
				</label>
				<a ui-sref="password_recovery" translate="forgot_password">Forget password?</a>
			</div>

			<div class="form-group">
				<center>
					<button type="button" class="btn btn-primary" ng-click="doLogin(member)" translate="login">Log in</button>
				</center>
    		</div>
		</form>
    </div>

    <div class="social rounded-20" style="height: 210px;">
    	<div class="row">
    		<div class="col-xs-1 col-md-1"></div>
    		<div class="col-xs-5 col-md-5 register">
    			<img src="<%= asset_path("membership-create-account.png") %>" alt="">
    			<a class="btn btn-primary" ui-sref="register" translate="register">Register</a>
    			<!-- <p>Vitae adipiscing turpis. Aenean ligula nibh,<br/> molestie id viverra a, dapibus at dolor.</p> -->
    		</div>
    		<div class="col-md-5">
    			<div ng-include="'<%= asset_path("partials/social-connect.html") %>'"></div>
    		</div>
    	</div>
    </div>
</div>
<div ng-show="isAuthorized">
<table cellpadding="3px">
<tr><th style="width:200px">Last Name</th><td>{{profile.last_name}}</td></tr>
<tr><th>First Name</th><td>{{profile.first_name}}</td></tr>
<tr><th>Birth Date</th><td>{{profile.birth_date}}</td></tr>
<tr><th>Language</th><td>{{profile.language}}</td></tr>
<tr><th>Children</th><td>{{profile.childs}}</td></tr>
<tr><th>Address</th><td><div ng-repeat="i in profile.address">{{i}}</div></td></tr>
<tr><th>Contact</th><td><div ng-repeat="i in profile.contact">{{i}}</div></td></tr>
</table>
<hr>
</div>
