<style type="text/css">
.col-md-6 form {
	padding: 30px 0px 0px 0px;
    border-top: none;
    border: solid 2px #2e96db;
    background-color: #ffffff;
    border-top: none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.col-md-6 .header .caption h3 {
	margin-left:  90px;
}

.col-md-6 form .form-group {
	padding: 0px 20px 0px 20px;
}

.col-md-6 form .form-group .error {
	margin: 5px 0px 0px 0px;
    display: block;
}

.notice {
	margin-top: 40px;
	background-color: #efefef;
	padding: 20px 30px 20px 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.notice h2 {
	margin-bottom: 15px;
    font-size: 1.8em;
}

.notice p {
	margin-bottom: 20px;
}

.alert-success {
	margin: 20px 0px 20px 0px;
}

#recover-password {
	margin: 120px 0px 50px 0px;
}
</style>

<div>
	<div class="row">
		<div class="col-md-3"></div>

		<div class="col-md-6" ng-show="valid == 0">
			<div class="notice">
  				<h2 translate="title_please_wait">Please wait...</h2>
 		 		<p translate="message_checking_request">We are currently checking your request.</p>
  				<p><a class="btn btn-primary" ui-sref="home" role="button" translate="return_home_page">Return to Home Page</a></p>
			</div>
		</div>

		<div class="col-md-6" ng-show="valid == 404">
			<div class="notice">
  				<h2 translate="title_invalid_request">Invalid Request</h2>
 		 		<p translate="message_invalid_request">Sorry, you've made an invalid request. You will be taken back in the home page</p>
  				<p><a class="btn btn-primary" ui-sref="home" role="button" translate="return_home_page">Return to Home Page</a></p>
			</div>
		</div>

		<div class="col-md-6" ng-show="valid == 419">
			<div class="notice" ng-show="valid == 419">
  				<h2 translate="title_request_expired">Request is Expired</h2>
 		 		<p translate="message_expired_request">Sorry, the page that you are trying to view has been expired. Please try to resend your request</p>
  				<p><a class="btn btn-primary" ui-sref="password_recovery" role="button" translate="recover_password">Recover Password</a></p>
			</div>
		</div>

		<div id="recover-password" class="box-wrapper col-md-6" ng-show="valid == 200">
			<div class="header blue">
				<div class="icon mother-child"></div>
				<div class="caption">
					<h3><i translate="reset_password">Reset Password</i></h3>
				</div>
			</div>

			<form name="resetForm">
				<div class="form-group" ng-show="successfull">
					<div class="alert alert-success" role="alert" translate="message_success_reset">
						You have successfully changed your password. You will now redirected to the home page.
					</div>
				</div>

				<div ng-hide="successfull">
					<input type="hidden" class="form-control" ng-model="member.uid">
					<input type="hidden" class="form-control" ng-model="member.email">

					<div class="spacer-20"></div>
				
					<div class="form-group">
						<p translate="message_reset_note"></p>
					</div>

					<div class="form-group">
						<input type="password" class="form-control" ng-model="member.new_password" name="password" ng-pattern="/^(?=.*\d)(?=.*[a-z])[0-9a-zA-Z]{6,}$/" placeholder="Enter your new password" required="" focus>
					</div>

					<div class="form-group">
						<input type="password" class="form-control" ng-model="member.confirm_password" name="confirm_password" placeholder="Confirm your new password" required="">

						<div ng-show="!successfull && submitted">
                			<span class="error red" ng-hide="resetForm.password.$error.pattern" ng-show="resetForm.password.$error.required || resetForm.confirm_password.$error.required">
                				Please complete all the fields above
                			</span>
                			<span class="error red" ng-show="resetForm.password.$error.pattern" translate="password_note">
                				Must contain at least 6 characters (english letters and numbers)
                			</span>
                			<span class="error red" ng-show="resetForm.$error.passwordNotMatch" translate="error_password_not_match">
                				Password do not much. Please try again
                			</span>
            			</div>
					</div>
 
 					<div class="form-group">
						<center>
							<button type="button" class="btn btn-primary" ng-click="doReset(member)" translate="reset_password">
								Reset Password
							</button>
						</center>
					</div>
				</div>
			</form>
		</div>

		<div class="col-md-3"></div>
	</div>
</div>