<style type="text/css">
.col-md-6 form {
	padding: 30px 0px 0px 0px;
    border-top: none;
    border: solid 2px #2e96db;
    background-color: #ffffff;
    border-top: none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.col-md-6 .header .caption h3 {
	margin-left:  90px;
}

.col-md-6 form .form-group {
	padding: 0px 20px 0px 20px;
}

.col-md-6 form .form-group .error {
    display: block;
}

#recover-password {
	margin: 120px 0px 50px 0px;
}
</style>

<div>
	<div class="row">
		<div class="col-md-3"></div>

		<div id="recover-password" class="box-wrapper col-md-6">
			<div class="header blue">
				<div class="icon mother-child"></div>
				<div class="caption">
					<h3><i translate="forgot_password">Forgot Password</i></h3>
				</div>
			</div>
			
			<form name="recoveryForm">
				<div class="spacer-20"></div>
				
				<div class="form-group">
					<p translate="message_recovery_note">Please type your email address below and we'll email you the instructions on how to change your password.</p>
				</div>

				<div class="form-group">
					<div ng-show="successfull" class="alert alert-success" role="alert" translate="message_success_recovery">Your request to reset your password has been received. An email will be sent with the instructions.</div>
					
					<input type="email" class="form-control" ng-model="member.email" name="email" required="" placeholder="Enter your email address here" focus>

					<div ng-show="!successfull && submitted">
                		<span class="error red" ng-show="recoveryForm.email.$error.required" translate="error_email_required">
                			Email address is required
                		</span>
                		<span class="error red" ng-show="recoveryForm.email.$error.email" translate="error_email_invalid">
                			Please enter a valid email address
                		</span>
                		<span class="error red" ng-show="recoveryForm.$error.emailNotFound" translate="error_email_not_found">
                			Email address that you entered couldn't be found
                		</span>
            		</div>
				</div>
 
 				<div class="form-group">
					<center>
						<button type="button" class="btn btn-primary" ng-click="doRecover(member)" translate="send_instructions">
							Send Instructions
						</button>
					</center>
				</div>
			</form>
		</div>

		<div class="col-md-3"></div>
	</div>
</div>

<!-- <div id="membership">
	<div class="recover-password">
		<div class="header blue-min">
			<img src="<%= asset_path("header-icon-mother-child.png") %>"/>
			<h4><i>Membership</i></h4>
		</div>
				
		<form name="recoveryForm" class="form-horizontal rounded-20">
			<p>Please type your email address below and we'll email you the instructions on how to change your password.</p>
				
			<div class="form-group">
				<div ng-show="successfull" class="alert alert-success" role="alert">Your request to reset your password has been received. An email will be sent with the instructions.</div>
				
				<input type="email" class="form-control" ng-model="member.email" name="email" required="">
				<div ng-show="!successfull && submitted">
                	<span class="error red" ng-show="recoveryForm.email.$error.required" translate="error_email_required">
                		Email address is required
                	</span>
                	<span class="error red" ng-show="recoveryForm.email.$error.email" translate="error_email_invalid">
                		Please enter a valid email address
                	</span>
                	<span class="error red" ng-show="recoveryForm.$error.emailNotFound" translate="error_email_not_found">
                		Email address that you entered couldn't be found
                	</span>
            	</div>
			</div>

			<div class="form-group">
				<button type="button" class="btn btn-primary" ng-click="doRecover(member)" translate="send_instructions">
				Send Instructions</button>
    		</div>
		</form>
    </div>
</div> -->